*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Header */
header {
    height: 72px;
    background-color: #47DCBA;
    color: white;
    text-align: center;
    padding: 0;
}

header h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 72px;
}

/* Principal Section */
.principal {
    display: flex;
    flex-direction: column;
    max-width: auto;
    max-height: auto;
    align-items: left;
    justify-content: left;
}

/* Texto e Imagem Section */
.texto-imagem img {
    margin-bottom: 0;    
    gap: 10px;
    margin-top: 50px;
}

.texto-imagem p {
    margin-top: 70px;
    width: 560px;
    height: 152px;    
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 14px;
    text-align: left;    
}

.texto-imagem p strong {
    color: #FFB61D;
}

/* Formulário */
.formulario {
    margin-top: 50px;
    width: 400px;
    max-width: 480px;
    height: auto;
    padding: 30px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(71, 220, 186, 0.30);
    border-radius: 12px;
    box-sizing: border-box;
    margin-left: 40px;
}

.formulario h2 {
    height: auto;
    color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;  
    margin-bottom: 20px;
    margin-top: 71px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.formulario .campo {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;    
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    gap: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario .botao {
    width: 135px;
    height: 40px;
}

.botao {
    margin-top: 20px;
    width: 100%;
    background-color: #FFB61D;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #e0a316;
}

.botao {
    margin-top: 50px;
    width: 100%;
    background-color: #FFB61D;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Informações Section */
.informacoes {
    margin-top: 50px;
    width: 100%;
    background-color: #E7EAEE;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.info-item {
    max-width: 300px;
    margin: 10px;
}

.informacoes img {
    height: 80px;
    margin-bottom: 5px;
}

.informacoes p {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}

.informacoes-titulo {
    font-size: 1.5em;
    color: #47DCBA;
    margin-bottom: 10px;
}

/* Apoiadores Section */
.apoiadores {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}

.apoiadores h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.logos {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0;
}

.logos a {
    display: inline-block;
    margin: 10px;
}

.apoiadores img {
    height: 60px;
    transition: filter 0.3s;
}

.apoiadores img:hover {
    filter: hue-rotate(240deg);
}

/* Footer */
footer {
    margin-top: 60px;
    background-color: #C8F5EB;
    height: 100px;
    flex-shrink: 0;
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 189px;
    height: 27px;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content > * {
    margin: 5px 0;
}

footer p {
    font-size: 1em;
    color: #000;
}


/* Responsividade */
@media (max-width: 768px) {
    .principal {
        flex-direction: column;
        gap: 50px;
    }

    .texto-imagem p {
        width: auto;
    }  
   
    .formulario {
        padding: 30px;
        margin-left: 0;
        width: 360px; 
        height: 397px; 
        width: 100%;
    }

    .formulario h2 {
        margin-top: 20px;
    }

    .formulario .botao {
        margin-top: 20px; 
        width: 100px;
        height: 31px; 
    }

    .informacoes {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logos {
        margin-left: 0;
        margin-right: 0;
    }

    .logos a {
        margin: 5px;
    }

    .logos {
        flex-wrap: wrap; 
    }
}

/* Estilo para telas maiores (desktop) */
@media (min-width: 769px) {
    .principal {
        flex-direction: row;
       
        width: auto;
    }

    .logos {
        flex-wrap: nowrap; /* Impede a quebra de linha em telas grandes */
    }
}